*,
*::before,
*::after{
    box-sizing: border-box;
}
.page-body{
    background-color: black;
    perspective: 200px;
    overflow: hidden;

}
.container{
    margin: 0 auto;
    width: 600px;
    transform:rotateX(30deg);
    animation: animateCrawl 30s ease-out 0s infinite;
    color: yellow;
    font-family: 'Roboto Condensed', "Arial", sans-serif;
    font-size:32px;
    font-weight: bold;
}

.title, .text-name, .text{
    display: block;
    width: 100%;
    text-align: center;
}
.text{
    text-align: left;
}
@keyframes  animateCrawl {
    0% { transform: rotateX(30deg) translateY(400px); }
    100% { transform: rotateX(30deg) translateY(-300px); }
}