.task-desk {
  width: 90%;
  margin: 20px auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search-input-container {
  position: relative;
}
.select-desk {
  color: #0000008c;
  padding: 5px;
  border-radius: 4px;
  font-weight: 900;
}
.filter-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  background-color: #00000061;
  border: 2px solid teal;
}
.task-container {
  width: 90%;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  justify-items: center;
  align-items: baseline;
}
.desk-noMatches {
  margin: 15px auto;
  font-size: 20px;
}
.search-btn {
  width: 23px;
  height: 22px;
  right: 4px;
  top: 5px;
  position: absolute;
  border: none;
  background-image: url("../img/search.svg");
  background-size: cover;
  background-color: transparent;
  outline: none;
  z-index: 1000;
}
.search-btn:hover {
  cursor: pointer;
}
.card {
  overflow: hidden;
  position: relative;
  width: 250px;
  font-size: 18px;
  border: 1px solid black;
  padding: 19px 15px 15px 15px;
  margin: 10px;
  background: #dde7e7;
  opacity: 0.9;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.edit-btn {
  background-color: transparent;
  border: none;
  color: black;
  font-weight: 900;
  position: absolute;
  bottom: 7px;
  right: 7px;
  padding: 4px;
}
.details-btn {
  border: 2px solid grey;
  background-color: #7eb038;
  border-radius: 6px;
  font-size: 1rem;
  padding: 3px 7px;
  margin: 7px;
  color: black;
}
.delete-btn {
  border: 2px solid grey;
  background-color: #7eb038;
  border-radius: 6px;
  font-size: 1rem;
  padding: 3px 7px;
  margin: 7px;
  color: black;
}
.edit-btn:hover,
.delete-btn:hover {

  cursor: pointer;
}
.details-btn:hover {
  border: 1px solid #ffffff;
  cursor: pointer;
}
.doctorDetails {
  display: flex;
  flex-direction: column;
}
.desk-noInfo,
.desk-noMatches {
  font-size: 30px;
  color: #bf7575;
  font-weight: bold;
  margin: 225px auto;
}
.remove {
  display: none;
}
