@import "./button";
@import "./select";
@import "./modal";
@import "./reset.scss";
@import "./fonts.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./extends.scss";
@import "./header.scss";
@import "./cardDesk.scss";
@import "./main_section.scss";

body{
  background-color: #cfc5c5;
}
.container {
  width: 1296px;
  margin: 0 auto;
}
.background {
  padding: 15px;
  background-color: #f3a183;
  background-image: linear-gradient(transparent 0px, transparent 49px, rgba(255, 255, 255, 0.2) 50px, transparent 51px, transparent 99px, rgba(255, 255, 255, 0.2) 100px),
  linear-gradient(120deg, transparent 0, transparent 48px, rgba(255, 255, 255, 0.2) 49px, transparent 50px, transparent 98px, rgba(255, 255, 255, 0.2) 99px, transparent 100px),
  linear-gradient(60deg, transparent 0, transparent 48px, rgba(255, 255, 255, 0.2) 49px, transparent 50px, transparent 98px, rgba(255, 255, 255, 0.2) 99px, transparent 100px),
  linear-gradient(90deg, #96c4c1, #89d9c1);
  background-size: 100px 100px, 115px 100px, 115px 100px, auto;
}
.page-header {
  display: flex;
}

.desk {
  height: 500px;
  width: 1296px;
  background-color: #f3a183;
  background-image: linear-gradient(transparent 0px, transparent 49px, rgba(255, 255, 255, 0.2) 50px, transparent 51px, transparent 99px, rgba(255, 255, 255, 0.2) 100px),
  linear-gradient(120deg, transparent 0, transparent 48px, rgba(255, 255, 255, 0.2) 49px, transparent 50px, transparent 98px, rgba(255, 255, 255, 0.2) 99px, transparent 100px),
  linear-gradient(60deg, transparent 0, transparent 48px, rgba(255, 255, 255, 0.2) 49px, transparent 50px, transparent 98px, rgba(255, 255, 255, 0.2) 99px, transparent 100px),
  linear-gradient(90deg, #96c4c1, #89d9c1);
  background-size: 100px 100px, 115px 100px, 115px 100px, auto;
}
a {
  text-decoration: none;
  color: inherit;
}

// @media (max-width: 1199px) {
//     .container {
//         padding: 0 5%;
//         margin:0 auto;
//     }
// }
// @media (min-width: 1200px) {
//     .container {
//         padding: 0 2%;
//         max-width:1200px;
//         margin:0 auto;
//     }
// }


.wrapper{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(179, 172, 172);
  background-image: url('../img/background.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-width: 100vw;
}
.wrapper-shadow{
  background: rgba(8, 8, 8,0.3);
  height: 100vh;
}
.container{
  margin: 0 5%;
}

