*,
*::after,
*::before {
    box-sizing: border-box;
}


                                    /*page-header start*/
.page-header {
    margin: 0;}

.container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.main-nav {
    margin-bottom: 25px;
}
.main-nav .container {
     text-align: center;
}
.menu-main {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    list-style: none;
    height: 27px;
}
.menu-main_item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 72px;
    text-transform: uppercase;
    text-align: center;
    list-style: none;
}
.menu-main_link {
    list-style: none;
    color: #FF0000;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
}


                                   /*page-header end*/
                                   /*header start*/
.main {
    display: inline-block;
    text-align: center;
}

.photo {
    width: 100%;
}

.name-content {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin-top:49px ;
}
.text {
  display: inline-block;
    text-align: center;

}
.content-part1 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    letter-spacing: 2.4px;
    color: #373737;
    margin:38px 67px 28px;
}
.content-part2 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 84px;
    margin-left: 67px;
    margin-right: 67px;
}

.button {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    /* or 100% */
    height: 51px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid red;
    padding: 18px 43px 17px;
    background: red;
    border-radius:4px;
}
                                 /*header end*/

                                /*footer start*/
.page-footer {
    text-align: right;
    margin-right: 105px;
    margin-top: 99px;
    margin-bottom: 29px;
}
.copyright {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;


}
                               /*footer end*/
