*,
*::after,
*::before {
    box-sizing: border-box;
}
.page-body{
    padding: 30px 100px;
 }
html{
    scroll-behavior: smooth;
}
 .block{
     width: 300px;
     height: 200px;
     background-color: darkorange;
     background-image: url("https://images.app.goo.gl/pMgrvajgLNs1uGte9");
     margin-left: auto;
     margin-right: auto;
     border: 1px solid #000000;
     transition: all 0.7s;
 }
 .toggle:checked + translateX{
     transform: translateX(50px);
 }
 .show-toggle{
     font-size: 30px;
 }
 .toggle{
     display: none;
     margin-top: 200vh;
 }
 .translateY:hover{
    transform:  perspective(100px) translate(100px, 100px) translateZ(-50px);
 }
 .scaleX:hover{
     transform:scale(0.5);

 }
 .rotate:hover{
     transform: rotate(0.5turn);
     transform-origin: 20px 20px;
 }
 .skew:hover{
     transform:skew(45deg);
 }
.animation{
    width: 150px;
    animation: salut 2s cubic-bezier(0.11, 1, 0.94, -0) 1s infinite  ;
}
 @keyframes salut{
     0%{
       transform: scale(0.5) rotateY(90deg);
     }
     25%{
         transform:scale(1.5)  translateY(300px);
     }
     50%{
         transform: scale(0.5) translateX(-300px) rotateY(-90deg);
     }
     100%{
         transform:scale(0.5)  translateY(-300px);
     }
 }
 .filter{
     /*filter:blur(2px);*/
     /*filter: brightness(50%);*/
     /*filter:hue-rotate(120deg);*/
     /*filter: saturate(150%);*/
     /*filter: contrast(300%);*/
     /*filter: grayscale(1);*/
     /*filter: sepia(100%);*/
     /*filter:opacity();*/
     box-shadow: 2px 2px 0 #FF0000;
     filter: drop-shadow(4px 4px rgb(23, 209, 39));
     transform: perspective(100px);
 }
.filter:hover{
    /*filter:blur(0);*/
    /*filter: brightness(10%);*/
    /*filter: saturate(0);*/
}